html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h3, button {
    font-family: cursive;
}

img {
    animation: page-fade-in 2s ease-in;
    transition-property: width, height, left, top;
    transition-duration: 6s;
}

.page-exit-animation {
    animation: page-fade-out 1s ease-out;
}

.page-content {
    animation: page-fade-in-slide 3s ease-in;
}

@keyframes page-fade-in {
    0% {
        opacity: 0;
        transform: translateX(20vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0vw);
    }
}

@keyframes page-fade-out {
    0% {
        opacity: 1;
        transform: translateX(0vw);
    }
    100% {
        opacity: 0;
        transform: translateX(-20vw);
    }
}

@keyframes page-fade-in-slide {
    0% {
        opacity: 0;
        transform: translateX(20vw);
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0vw);
    }
}

@keyframes page-fade-in-delayed {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}